<aside class="small-12 quick-links">
  <h2>Quick Links</h2>
  <ul>
    <li>
      <a href="https://github.com/freeipa/ansible-freeipa" target="_blank">GitHub repo</a>
    </li>
    <li>
      <a href="https://github.com/freeipa/ansible-freeipa/issues/new" target="_blank">Report an issue at GitHub</a>
    </li>
<!--
    <li>
      <a href="https://github.com/freeipa/ansible-freeipa/discussions" target="_blank">Discussions at GitHub</a>
    </li>
-->
    <li>
      <a href="https://galaxy.ansible.com/freeipa/ansible_freeipa" target="_blank">Ansible Galaxy collection</a>
    </li>
    <li>
      <a href="irc://irc.libera.chat/freeipa">IRC #freeipa</a>
    </li>
    <li>
      <a href="mailto:freeipa-users@lists.fedorahosted.org">Email freeipa-users</a>
    </li>
    <li>
      <a href="mailto:freeipa-devel@lists.fedorahosted.org">Email freeipa-devel</a>
    </li>
  </ul>
</aside>
