// Box
.wrap {
    display: flex;
    flex-flow: column;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    max-width: $global-width;
}

.wrap .row {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
}

.wrap .banner {
    flex: 0 1 auto;
    padding-top: calc($spacing-unit / 2);
    padding-bottom: calc($spacing-unit / 2);
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
}
.wrap .navigation {
    flex: 0 1 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
}
.wrap .row.spacer {
    flex: 0 1 auto;
    padding-top: calc($spacing-unit / 2);
    padding-bottom: calc($spacing-unit / 2);
}
.wrap .row.content {
    flex: 1 1 auto;
    padding-left: $spacing-unit*2;
    padding-right: $spacing-unit*2;
}
.wrap .footer {
    flex: 0 1 $footer-height;
    padding-top: calc($spacing-unit / 4);
    padding-bottom: calc($spacing-unit / 4);
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
}
.wrap .blog-navigation {
    padding-bottom: calc($spacing-unit / 4);
}

.breadcrumb ul {
    margin: 0;
}

//Banner
.banner {
    color: $banner-color;
    background-color: $banner-backgroundcolor;

}

.banner a {
    color: $banner-color;
}

.banner .line{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid gray;
}

.navigation {
    padding-top: calc($spacing-unit / 2);
    padding-bottom: 0;
}

// Pages
.page-content {
    padding-bottom: $spacing-unit;
    display: table;
    width: 100%;
}

.page-heading {
    font-size: 20px;
}

// Posts

.post-header {
    margin: $spacing-unit;
}

.post-title {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
    padding: 0 $spacing-unit $spacing-unit;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: darken($complimentary-color, 35%)
}

.post-link {
    display: block;
    font-size: 24px;
}

.search-form {
    margin-bottom: 1em;
    width: 100%;
}

.search-input {
    max-width: 100%;
    width: 70%;
    padding: 2px 4px;
    padding-left: 26px;
    background-image: url('/images/search.png');
    background-position: 2px 3px;
    background-repeat: no-repeat;
    line-height: $form-height;
}
aside .search-input {
    width: 100%;
}

.search-submit {
    padding: 2px 8px;
}

input[type=text] {
    border: none;
    border: $form-border;
    background-color: $form-color;
}
input[type=text]:focus {
    background-color: $form-focus-color;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: $form-border-color;
    border: none;
    padding: 2px 5px;
    border: $form-border;
    line-height: $form-height;
}
input[type=submit]:hover {
    background-color: $form-border-color;
}

.search-item {
    padding-top: $spacing-unit;
}

.search-excerpt {
    font-size: $small-font-size;
    padding-top: calc($spacing-unit / 4);
}

.recent-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.recent-posts ul li {
    margin-bottom: 0.1em;
}

.quick-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.quick-links ul li {
    margin-bottom: 0.1em;
}

// Body
html,body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

.sticky {
    position: sticky;
    //sticky menubar >>
    //top: $navbar-height+$spacing-unit;
    //sticky menubar else
    top: $spacing-unit;
    //sticky menubar <<
    border-left: 2px solid $primary-color;
}

.footer {
    z-index: 0;
    color: $footer-text-color;
    background-color: $footer-backgroundcolor;
    font-size: $small-font-size;
    line-height: normal;
    text-align: left;
}

.footer a {
    color: $footer-link-color;
}

.page-banner {
    font-size: 26px;
    font-weight: 300;
    color: white;
}

.page-content p>img {
    display: block;
    align: center;
    margin-left:auto;
    margin-right:auto;
}

.page-content p>img + em {
    content: "";
    display: block;
    color: darken($complimentary-color, 35%);
    margin-top: calc($spacing-unit / 2);
    margin-bottom: calc($spacing-unit / 2);
    text-align: center;
}

@media print {
    .banner {
	padding:0;
    }
    .navigation {
	border-top: 1px solid #000000;
	padding: 0;
    }
    .page-content {
	padding: 0;
    }
    .recent-posts {
	display: none;
    }
    .quick-links {
	display: none;
    }
    .search-form {
	display: none;
    }
    pre {
        white-space: pre-wrap;
    }
}
